@import "../../../styles/variables.scss";
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 0.7rem;

  span {
    text-align: right;
    color: $secondary-color;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
  }

  .icon-name {
    width: 25px;
  }
}
